<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crack-Is-Bad</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <main>
      <header>hello !</header>
      <article>
        <section>
          <h1><a href="/contact">Contact Us</a></h1>
          <h1><a href="/about">About Us</a></h1>
        </section>
      </article>
      <footer></footer>
    </main>
  </body>
</html>
