<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crack-Is-Bad</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <main>
      <header class="header">hello !</header>
      <article>
        <section></section>
      </article>
      <footer></footer>
    </main>
    <script src="./js/index.js"></script>
  </body>
</html>
