<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crack-Is-Bad</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <main class="wrapper">
      <header>
        <h1 class="header">
          <i>C</i>
          rack is bad
        </h1>
      </header>
      <article>
        <section>
          <form>
            <div class="filebox">
              <input
                class="upload-name"
                value="Attachment"
                placeholder="Attachment"
                readonly
              />
              <label for="file">Find File</label>
              <input type="file" id="file" accept="zip" />
              <p>
                <button type="submit">MODIFY</button>
              </p>
            </div>
          </form>
        </section>
      </article>
      <footer></footer>
    </main>
    <script src="./js/index.js"></script>
  </body>
</html>
