@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --background: #1b0417;
  --font-color: #fff;
}

* {
  font-family: "Lora";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: var(--background);
  color: var(--font-color);
}

.wrapper {
  width: 66%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.header > i {
  font-size: 88px;
}

.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  color: #999999;
}

.filebox .upload-name:focus {
  outline: none;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox p {
  margin-top: 20px;
}

.filebox p > button {
  width: 293.5px;
  height: 40px;
  background-color: #a52a2a;
  border: none;
  cursor: pointer;
  color: var(--font-color);
}

.filebox p > button:hover {
}
